@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2001A;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 90%;

    background-color: white;
    border-radius: 20px;
}

.container-inex > a{
    background-color: #7EA928;
    padding: 10px 0px;
    border-radius: 5px;
    text-align: center;
}

.container-index > a, input{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.226);
    border: none;
    outline: none;
}

.container-index a, button {
    width: 70%;

    background-color: #7EA928;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;

    text-decoration: none;
    text-align: center;
}
a:hover {
    cursor: pointer;
}

/* Página contas com distribuidores */

.box-divs-input {
    text-align: center;
}

input {
    padding: 5px;
    width: 70%;
    height: 35px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
}

.box-label-input {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-label-input button{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.479);
}

label {
    font-weight: 600;
    margin-bottom: 3px;
}

#resMsg {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
#resConta {
    font-size: 25px;
    font-weight: 700;
    margin-top: 0px;
}

.section-contas-distribuidor button {
    padding: 3px;
    width: 60%;
}

.box-icone-voltar > a > i {
    margin-top: 10px;
    font-size: 15px;
    color: #7EA928;
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 5px var(--cor--neon))
    }
    to {
        filter: drop-shadow(0 0 10px var(--cor--neon))
    }
}
.piscar-resultado-alerta{
    animation: neon 0.2s alternate infinite ease-in-out;
}
.red {
    --cor--neon: red;
}
.yellow {
    --cor--neon: #B8860B;
}
.green {
    --cor--neon: green;
}

/* Modal */

.modal {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;

/*     display: flex;
    flex-direction: column;
    align-items: center; */
}
.modal input{
    width: 30%;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.301);
    margin-top: 5px;
}

.modal button {
    margin-top: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.479);
}
.modal p {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}